body{
		background-image:url('Fondo1.jpg')
	}
<style type="text/css">

	.class-body{
		width: 100%;
		position: relative;
		float: left;
	}
	.class-left{
		width: 14%;
		/*box-shadow: 0px 0px 1px 0px black;*/
		position: relative;
		float: left;
		/*background: red;*/
		margin: 5px;
	}
	.class-right{
		width: 69%;
		height: 870px;
		/*box-shadow: 0px 0px 1px 0px black;*/
		position: relative;
		float: right;
		/*background: yellow;*/
		margin: 5px;
	}
	.class-center{
		width: 14.5%;
		height: 870px;
		/*box-shadow: 0px 0px 1px 0px black;*/
		position: relative;
		float: left;
		/*background: rgb(255, 99, 71);*/
		margin: 5px;
	}
	.class-g{
		width: 98%;
		margin: 5px;
		/*box-shadow: 0px 0px 1px 0px black;*/
		height: 300px;
		/*background-color: blue;*/
		position: relative;
		float: left; 
	}
	.col-5 {
		width: 65%;
		margin: 5px;
		height: 275px;
		/*box-shadow: 0px 0px 1px 0px black;*/
		position: relative;
		/*background: green;*/
		float: left;	
	}
	.col-3 {
		width: 30%;
		margin: 1px;
		height: 275px;
		/*box-shadow: 0px 0px 1px 0px black;*/
		position: relative;
		/*background: green;*/
		float: left;	
	}
	.class-2L{
		width: 96%;
		margin: 5px;
		/*box-shadow: 0px 0px 1px 0px black;*/
		height: 250px;
		position: relative
		/*background-color: rgb(255, 99, 71);*/
		float: left;
	}
	.class-3L{
		width: 96%;
		margin: 5px;
		/*box-shadow: 0px 0px 1px 0px black;*/
		height: 329px;
		position: relative
		/*background-color: rgb(255, 99, 71);*/
		float: left;
	}
	#img{
		margin-top: 20px;
	}
	* {box-sizing: border-box}
	.mySlides, .mySlides2 {display: none}
	img {vertical-align: middle;}

	/* Slideshow container */
	.slideshow-container {
		width: 90%;
		position: relative;
		margin: auto;
	}

	/* Next & previous buttons */
	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -22px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
	}

	/* Position the "next button" to the right */
	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover, .next:hover {
		background-color: rgba(0,0,0,0.8);
	}

	/* Caption text */
	.text {
		color: #f2f2f2;
		font-size: 15px;
		padding: 8px 12px;
		position: absolute;
		bottom: 8px;
		width: 100%;
		text-align: center;
	}

	/* Number text (1/3 etc) */
	.numbertext {
		color: #f2f2f2;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}

	/* The dots/bullets/indicators */
	.dot {
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}

	.active, .dot:hover {
		background-color: #717171;
	}

	/* Fading animation */
	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
	}

	@keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
	}

	/* On smaller screens, decrease text size */
	@media only screen and (max-width: 100px) {
		.prev, .next,.text {font-size: 11px}
	}

	/* Next & previous buttons */
	.prev2, .next2 {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -22px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
	}
	/* The dots/bullets/indicators */
	.dot2 {
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	/* Position the "next button" to the right */
	}
	.next2 {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev2:hover, .next2:hover {
		background-color: rgba(0,0,0,0.8);
	}
	.active2, .dot2:hover {
		background-color: #717171;
	}

	
	/* Fading animation */
	.fade2 {
		-webkit-animation-name: fade2;
		-webkit-animation-duration: 1.5s;
		animation-name: fade2;
		animation-duration: 1.5s;
	}

	@-webkit-keyframes fade2 {
		from {opacity: .4} 
		to {opacity: 1}
	}

	@keyframes fade2 {
		from {opacity: .4} 
		to {opacity: 1}
	}

	/* On smaller screens, decrease text size */
	@media only screen and (max-width: 10px) {
		.prev2, .next2,.text2 {font-size: 5px}
	}
</style>
li {
	margin: 0px;
	padding: 0px;
	
}
ul {
	margin: 0px;
	padding: 0px;
}
ol {
	margin: 0px;
	padding: 0px;
}
